@page


@model HotelManagement.Pages.Rooms._Pages_Rooms_BookRoom;
@{

    ViewData["Title"] = "Search for a Room";
}

<h1> Book a Room </h1>
<form method="get">
    <input type="search" name="first name" placeholder="First Name" />
    <input type="search" name="last name" placeholder="Last Name" />
    <input type="submit" name="book" placeholder="Book Now" />

</form>
