@page
@model HotelManagement.Pages.Rooms._Pages_Rooms_SearchRoom;
@{

    ViewData["Title"] = "Search for a Room";
}

<h1> Search for a Room </h1>
<form method="get">
    <input type="search" name="start" placeholder="Start Date" />
    <input type="search" name="end" placeholder="End Date" />
    <input type="submit" name="search" placeholder="Search" />

</form>